/*
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*/
@font-face {
    font-family: Roboto;
    src: url('..//fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(219,245,255);
    
    
   
      
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    
  
    
    
  }
  .night{
    background-color: rgb(0,30,41);
    color: white;
  }

  .dntoggle{
    font-size: 28px;
    border-radius: 100px;
    background-color: #111111;
    padding: 15px;
    color:#fcfcfc;
    box-shadow: 1px 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    
    position: fixed;
    bottom:20px;
    right: 20px;
    z-index: 10;
  
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .fa-moon-o:before{
    padding:0 2px;
  }
  .fa-sun-o{
    background-color: #212121;
    color:#ccc;
  }

header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: rgba(157, 229, 255, 0.97);
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 5;
}

header > h1 {
    margin: auto 20px;
}

.home-button {
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    margin: 0 15px;
    font-size: 1.5rem;
}

li > a {
    color: black;
}


.navigation-button:link {
    text-decoration: none;
}

.navigation-button:visited {
    text-decoration: none;
}

.navigation-button:hover {
    text-decoration: none;
    color: darkgrey;
    transition: 0.18s;
}

.navigation-button:active {
    text-decoration: none;
    color: darkgrey;
}

main {
    margin-bottom: 40px;
}

.content {
    margin-top: 120px;
    width: 100%;
}

h2 {
    text-align: center;
}


/* HOME PAGE */

.welcome-message {
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

.welcome-message > p {
    margin-bottom: 0;
}

.professional-title {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: grey;
}

.professional-title > ul {
    list-style-type: none;
    padding-right: 40px;
}

.contact-me {
    margin-top: 30px;
    display:flex;
    justify-content: center;
}

.contact-me > a {
    text-decoration: none;
    color: grey;
}

.contact-button {
    border: 1px solid grey;
    padding: 10px;
}

.contact-button:hover {
    background-color: grey;
    color: black;
    transition: 0.3s;
}


/* ABOUT ME PAGE */

.about-me {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50vw;
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
    justify-content: center;
}

.project-container {
    margin: 20px;
    border: 2px solid #ff9ee5;
    background-color: rgba(157, 229, 255, 0.97);
    max-width: 800px;
    flex-basis: 650px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: center;
}

img {
    max-width: 100%;
    padding: 15px;
}

.project-description,.project-link,.project-technologies {
    padding: 10px;
    margin: 0;
}

.project-link > a {
    margin-right: 20px;
    border: 1px solid #ff9ee5;
    border-radius: 5px;
    padding: 5px;
    background-color: #9effb8;
    text-decoration: none;
}

.project-link > a:hover {
    background-color: #bdffce;
    transition: 0.18s;
    text-decoration: underline;
}

.logo {
    height: 50px;
    width: 50px;
}

.contacts {
    display: flex;
    max-width: 768px;
    margin: 0 auto;
    justify-content: center;
    
}

.contact-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    margin-top: 20px;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8rem;
    background-color: rgba(157, 229, 255, 0.97);
    width: 100%;
    z-index: 5;
}


/* PORTFOLIO PAGE */

:root {
    --bg-color: rgb(0,30,41);
    --card-color: rgb(23, 23, 23);
}


.cards-container {
    align-items: center;
    background-color: rgb(219,245,255);
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 80%;
    width: calc(100% - 20px);
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 120px;
}

#cards:hover > .card > .card-border {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    height: 620px;
    position: relative;
    width: 400px;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card > .card-border {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    z-index: 2;
}

.card::before {  
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    z-index: 3;
}

.card > .card-border {
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 158, 229, 0.3),
        transparent 40%
    );
    z-index: 1;
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    height: calc(100% - 2px);
    margin: 1px;
    position: relative;
    width: calc(100% - 2px);
    z-index: 2;
}


.card-img-container {
    position: relative;
    top: 20px;
    background-color: darkslategrey;
    border-radius: inherit;
    margin: 0 auto;
    width: 90%;
    height: 60%;
}

.card-img {
    border-radius: inherit;
    padding: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-name {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 2px;
    min-height: 83px;
    color: white;
}

.technologies {
    padding: 0 5px;
    text-align: center;
}

.technologies > ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
}

.technologies > ul > li {
    display: inline-block;
    margin: 7px;
    color: gold;
}

.links {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 60px;
    margin: 5px;
    z-index: 4;
    padding: 0 50px;
}

.links > .button {
    border: 2px solid blueviolet;
    border-radius: 5px;
    z-index: 5;
    padding: 0 7px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 32px;
}

.links > .button:hover {
    background-color: blueviolet;
    transition: 0.3s;
}

.links > .button{
    text-decoration: none;
    color: white;
}

.password {
    position: absolute;
    bottom: 70px;
    left: 110px;
    z-index: 5;
    color: silver;
}


/* RESPONSIVE */
/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 425px) {
    h1 {
        font-size: 1.5rem;
    }

    .navigation-button {
        font-size: 1.2rem;
    }

    .projects {
      width: 350px; /* The width is 100%, when the viewport is 800px or smaller */
      margin: 0 auto;
    }

    .project-container {
        width: 100%;
        margin: 20px 0;
        min-width: 0;   
    }

    .about-me {
        max-width: 90vw;
    }



    #cards {
        max-width: 100%;
    }

    .card-img-container {
        height: 40%;
    }

    .card {
        height: 450px;
        margin: 5px 0;
    }

    .password {
        left: 95px;
        bottom: 80px;
    }
  }


  /* DARK MODE */

.dark-mode {
    background-color: rgb(0,30,41);
    color: white;
  }

.dark-mode-header {
    background-color: rgba(0,61,83,0.97);
}

.dark-mode-project-containers {
    background-color: rgb(0,61,83);
    border: 2px solid #ff9ee5;
}

.dark-mode-footer {
    background-color: rgba(0,61,83,0.97);
    color: white;
}

.dark-mode-nav-list-items {
    color: white;
}

.dark-mode-contact-links {
    color: white;
}

.dark-mode-home-button {
    color: white;
}

.dark-mode-cards-container {
    background-color: rgb(0,30,41);
}

.dark-mode-project-name {
    color: white;
}